 body {
        font-family: cursive;
        font-size: 16px;
        font-weight: bold;
        color: rgb(255, 254, 254);
        background-color: rgb(198, 202, 177);
    } 
  
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(230, 230, 207);
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: rgb(17, 9, 9);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: rgb(205, 178, 224);
      }
      
     



    